h1 {
    text-align: center;
    color: #333;
}

#produtos {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 20px auto; 
    width: 80%; 
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%; 
}


ul li {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    border: 1px solid #ddd; 
    padding: 10px;
    margin-bottom: 10px; 
    background-color: #f9f9f9; 
    border-radius: 5px;
}

ul li span {
    flex: 1;
    margin-right: 10px;
}

button.adicionar {
    flex-shrink: 0; 
    padding: 8px 12px; 
    background-color: #7eb9f8;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button.adicionar:hover {
    background-color: #0056b3;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

#esvaziar {
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: block; 
    margin: 20px auto; 
    text-align: center; 
    border-radius: 5px;
}

#esvaziar:hover {
    background-color: #c82333;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
    margin-bottom: 20px;
}

#header h1 {
    margin: 0;
}

#img {
    max-width: 50px; 
    height: auto;
}

h2{
    text-align: center;
}

#resumo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    text-align: center;
    width: fit-content;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#resumo table {
    border-collapse: collapse;
    margin: 10px 0;
}

#resumo td {
    padding: 10px 20px;
    border: 1px solid #ddd;
    text-align: left;
}